nav {
    display: flex;
    align-items: center;
    height: 100px;
    color: silver;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    border: 1px solid lighten(#282c34, 20%);
    box-sizing: border-box;
    padding: 10px;
}

.flex-item {
    flex: 1 1 100%;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 100%;
    font-size: calc(10px + 2vmin);
    color: white;
}

.link-item {
    flex: 0 1 auto;

    &--active {
        color: lighten(orange, 5%);
    }

    &:not(:last-child) {
        margin-right: 20px;
    }

    & a {
        cursor: pointer;
        color: darken(orange, 20%);

        &:visited {
            color: darken(orange, 15%);
        }

        &:active {
            color: darken(orange, 5%);
        }
    }
}
