.anchor_icon {
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    width: 26px;
    height: 26px;
    color: white;
    pointer-events: none;
    // &--move:hover {
    //     cursor: move !important;
    // }
    // &--resize:hover {
    //     cursor: nwse-resize !important;
    // }
}
