.block {
    &--hoverable :hover {
        cursor: pointer;
    }

    &--selectable {
        user-select: none;
    }

    &_selecting-frame {
        border: 1px solid lime;
        background-color: rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        overflow: hidden;

        & .block_anchor {
            display: none !important;
        }
    }

    &--draggable {
        user-select: none;
    }

    &_frame--drag {
        box-sizing: border-box;
        // border width is setting inside Div Block implementation
        border: 4px solid #607d8b;
    }

    &_frame--selected {
        box-sizing: border-box;
        border: 4px solid #3caaff;
    }

    &--drag-start {
        z-index: 1000;
    }

    &--relative-hidden {
        position: relative;
        overflow: hidden;
    }

    &--in-lasso-trapped {
        box-sizing: border-box;
        overflow: hidden;
    }

    &--silver-bordered {
        border: 1px solid silver;
    }

    &--orange-bordered {
        border: 1px solid orange;
    }

    & .block_magnet-frame {
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #1de9b6;

        visibility: hidden;

        transition: visibility 0.2s ease-in;

        &--active {
            visibility: visible;
        }

        &--disabled {
            visibility: hidden;
        }
    }
}

.block_magnet-corner-frame {
    position: absolute;
    border: 4px none #ff5252;
    z-index: 4100;
}

.block_anchor {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease-in;
    width: 30px;
    height: 30px;
    border: 2px solid #b3e5fc;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;


    z-index: 1100;

    &:hover {

        cursor: move;
    }

    &--resizer {
        right: 0;
        bottom: 0;
        top: auto;
        left: auto;
        background-color: brown;

        &:hover {

            cursor: nwse-resize;
        }
    }

    &--active {
        visibility: visible;
        opacity: 1;
    }
}
